<?php $yellow->snippet("header") ?>
<?php $pages = $yellow->pages->index(true, true) ?>
<?php $yellow->page->setLastModified($pages->getModified()) ?>
<?php $yellow->page->setHeader("Cache-Control", "max-age=60") ?>
<div class="content">
<div class="main">
<h1><?php echo $yellow->page->getHtml("titleContent") ?></h1>
<?php echo $yellow->page->getContent() ?>
<table>
<tr><th><?php echo $yellow->text->getHtml("textLocation") ?></th><th><?php echo $yellow->text->getHtml("textVisible") ?></th><th><?php echo $yellow->text->getHtml("textLanguage") ?></th><th><?php echo $yellow->text->getHtml("textDescription") ?></th><th><?php echo $yellow->text->getHtml("textModified") ?></th></tr>
<?php foreach($pages as $page): ?>
<tr>
<td><a href="<?php echo $page->getLocation(true) ?>"><i class="fa fa-file-o"></i> <?php echo $page->getLocation(true) ?></a></td>
<td><?php echo $yellow->text->getHtml($page->isVisible() ? "textYes" : "textNo") ?></td>
<td><?php echo $page->get("language")!="none" ? $yellow->text->getTextHtml("languageDescription", $page->get("language")) : "none" ?></td>
<td><?php echo $page->getParent()!=null ? $page->getParent()->getHtml("titleNavigation") : $page->getHtml("titleNavigation") ?></td>
<td><?php echo $page->getDateHtml("modified") ?></td>
</tr>
<?php endforeach ?>
</table>
</div>
</div>
<?php $yellow->snippet("footer") ?>
