<?php $yellow->snippet("header") ?>
<?php $files = $yellow->files->index(true, true) ?>
<?php $yellow->page->setLastModified($files->getModified()) ?>
<?php $yellow->page->setHeader("Cache-Control", "max-age=60") ?>
<div class="content">
<div class="main">
<h1><?php echo $yellow->page->getHtml("titleContent") ?></h1>
<?php echo $yellow->page->getContent() ?>
<table>
<tr><th>Location</th><th>Type</th><th>Information</th><th>Modified</th></tr>
<?php foreach($files as $file): ?>
<tr>
<td><a href="<?php echo $file->getLocation(true) ?>"><i class="fa fa-file-image-o"></i> <?php echo $file->getLocation(true) ?></a></td>
<td><?php echo $file->getHtml("type") ?></td>
<td><?php echo htmlspecialchars($yellow->toolbox->createTextTitle(dirname($file->getLocation()))) ?></td>
<td><?php echo date("Y-m-d", $file->getModified())!=date("Y-m-d") ? $file->getDateHtml("modified") : "Today" ?></td>
</tr>
<?php endforeach ?>
</table>
</div>
</div>
<?php $yellow->snippet("footer") ?>